[2012-12-23 17:46] chrisdone opened #1 "examples/Main.hs doesn't compile"
Downloaded the latest 13293a2, cabal-dev install'd and loaded up cabal-dev ghci and `examples/Main.hs` and get:

[code]

Seems like it's expecting an older API?

[2012-12-23 20:43] #1 closed, assigned to nobody

[2012-12-28 07:21] Cynede opened #4 "How can I apply style for an elements list?"
what am I trying to do:

[code]

what do I get:

[code]

How to make it proper? Though there should be comas...

[2012-12-28 07:41] Cynede opened #5 "Why 0 is becoming 0px"
e.g.

[code]

-->

[code]

If I remember correctly 0px is not common for css. It's better when 0 is just 0.

[2012-12-28 09:51] #5 closed, assigned to nobody

[2012-12-28 10:47] Cynede opened #6 "Can I add #something to top level?"
Just question... as I don't know where to ask it. When I'm doing

[code]

or

[code]

on top level

I'm getting "this should be fixed soon"

Maybe I should be just safe with

[code]

and

[code]

I guess but I'm not that good in css and maybe there other ways to make it?

[2013-01-12 10:21] listx opened #8 "css properties overflowY is overflow-x and overflowX is overflow-y"
I'm using the latest version...

[2013-01-12 10:27] #8 closed, assigned to nobody

[2013-01-13 10:59] listx opened #10 "fontFamily: serif, sansSerif, monospace should not be Literals"
`serif`, `sansSerif`, and `monospace` are Literal types, hence broken. I.e.,

[code]

gets compiled into

[code]

and the double quotes in "serif" make it become interpreted as a font description, not a font-family. The correct result should be

[code]

without the double quotes.

[2013-01-14 03:38] sigrlami opened #11 "How to create class without invoking element?"
_How can I skip invoking elements as div, and use just "." ?_

Currently I have following code:

[code]

Printning with:

[code]

Gives ouput as:

[code]

but I want:

[code]

[2013-01-17 12:48] #6 closed, assigned to nobody

[2013-01-17 16:49] #10 closed, assigned to nobody

[2013-01-17 16:50] #4 closed, assigned to nobody

[2013-01-17 18:07] #11 closed, assigned to nobody

[2013-04-07 11:28] chrisdone opened #13 "Borders"
Why is the border stuff in a different order to normal order? Instead of

[code]

in Clay you instead write:

[code]

For convenient partial application? It's rather jarring to have the args swapped from normal.

[2013-04-10 07:56] osa1 opened #18 "is `borderRadius` type correct ?"
I was trying to generate this CSS code:

[code]

But `borderRadius :: Size a -> Css` type is just not allowing this. I thought maybe it's type should be like `margin :: Size Abs -> Size Abs -> Size Abs -> Size Abs -> Css`,

Any ideas?

[2013-04-10 08:28] #18 closed, assigned to nobody

[2013-04-10 11:40] osa1 opened #19 "fontFamily wrong code generation"
This code:

[code]

Compiles to this:

[code]

This doesn't work like: `font-family: sans-serif;`. `,` should not be there, when deleted it works as expected.

I think this is a bug.

[2013-04-10 11:56] osa1 opened #20 "printer bug when printing negative `em` values"
[code]

compiles to

[code]

[2013-04-10 12:01] #20 closed, assigned to nobody

[2013-04-12 09:45] #19 closed, assigned to nobody

[2013-04-21 21:43] jameshfisher opened #21 "@font-face?"
I don't see anything to deal with this. Is there any way to write @font-face rules in the DSL, or should I just prepend this kind of thing to clay's output?

[2013-04-21 23:39] jameshfisher opened #22 "hsl percentages"
AFAIK hsl/hsla values are meant to be expressed using percentages, as described: http://www.w3schools.com/cssref/css_colors_legal.asp

But `Clay.Color.hsl :: Integer -> Integer -> Integer -> Color`, which seems to output raw integers in every case, e.g. `hsl 0 70 40` compiles to `hsl(0,70,40)` which is an invalid CSS value.

[2013-04-28 22:45] #21 closed, assigned to nobody

[2013-04-28 22:48] jameshfisher opened #24 "Test project site in other browsers + mobile"

[2013-04-28 22:48] jameshfisher opened #25 "Do not pretty print redundant * before refinements"

[2013-04-28 22:49] jameshfisher opened #26 "Fix mostly harmless but annoying exponential blowup when using <> multiple times in selectors"

[2013-04-28 22:49] jameshfisher opened #27 "Print RGB values to hex syntax, only use RGBA for non opaque colors"

[2013-04-28 22:49] jameshfisher opened #28 "Try to strip even more whitespace from compacted version"

[2013-04-28 22:50] jameshfisher opened #29 "Try to avoid changing order too much when printing either nested rules or media queries"

[2013-04-28 22:50] jameshfisher opened #30 "Add not selector"

[2013-04-28 22:50] jameshfisher opened #31 "Maybe ditch the Num instances for sizes"

[2013-04-28 22:50] jameshfisher opened #32 "Add more size types"

[2013-04-28 22:50] jameshfisher opened #33 "Check if we need more color types"

[2013-04-28 22:51] jameshfisher opened #34 "Better support for computing with colors"

[2013-04-28 22:51] jameshfisher opened #35 "Allow multiple box-shadows"

[2013-04-28 22:51] jameshfisher opened #36 "Implement better model for gradient"

[2013-04-28 22:51] jameshfisher opened #37 "Fix the Direction/Position/Sided/Location mess"

[2013-04-28 22:52] jameshfisher opened #38 "Add all of CSS"
http://www.w3.org/TR/CSS21/propidx.html

[2013-04-28 22:52] jameshfisher opened #39 "Render for one browser only?"

[2013-04-28 22:52] jameshfisher opened #40 "Can we optimize duplicate style rules into one?"

[2013-04-28 22:52] jameshfisher opened #41 "Can we validate the styles against an HTML file?"

[2013-04-28 22:53] jameshfisher opened #42 "Give hints for fusing rules using classes?"

[2013-04-28 22:53] jameshfisher opened #43 "Can we run Clay in the client using Fay?"

[2013-04-28 22:53] jameshfisher opened #44 "Add dynamic values like scrollTop and pageWidth?"

[2013-04-28 22:53] jameshfisher opened #45 "Create output printer to concise Less, to be able to liberate your style from Haskell"

[2013-04-28 22:54] jameshfisher opened #46 "Split out CSS rendering, optimizing, and parsing into a different package"

[2013-05-03 07:43] #22 closed, assigned to nobody

[2013-05-15 08:17] lucabrunox opened #50 "Homepage has a reference to the todo file"
Hi, in the homepage there's a reference to "the todo list" which is a 404.

[2013-05-15 08:25] lucabrunox opened #51 "Simulating sass expand"
Hi, this is a question rather than a bug, but might be a feature request. In sass you can do the following (example in sass homepage):
.error {
  border: 1px #f00;
  background: #fdd;
}
.error.intrusion {
  font-size: 1.3em;
  font-weight: bold;
}

.badError {
  @extend .error;
  border-width: 3px;
}

Which results in the following:
.error, .badError {
  border: 1px #f00;
  background: #fdd;
}

.e

[2013-05-16 16:37] ocharles opened #52 "Document why fontFamily requires two lists"
http://hackage.haskell.org/packages/archive/clay/0.6/doc/html/Clay-Font.html#v:fontFamily says the type of `fontFamily` is `[Text] -> [Text] -> Css`. It's unclear to me why this is the case, so if this is intentional I think it should be documented what these parameters mean. 'a' and 'b' in the source code does not go far to clarify this either.

[2013-05-16 16:51] ocharles opened #53 "Semigroup on refinements?"
I wanted to set `outline-style:none` for both `a:active` and `a:visited`, and thought I could do `(":active" <> ":hover") & outlineStyle none`, but `Refinement` is not a `Monoid` or `Semigroup` instance. In the end I did:

[code]

Which does the job, but it is a tad verbose.

It also doesn't produce `a:active, a:focus` as I wanted, but instead gives me two separate blocks.

[2013-05-20 19:25] #52 closed, assigned to nobody

[2013-05-20 19:38] #50 closed, assigned to nobody

[2013-05-20 19:40] #38 closed, assigned to nobody

[2013-05-20 22:48] #35 closed, assigned to nobody

[2013-05-28 12:29] jameshfisher opened #62 "move the sym functions out of Size.hs"

[2013-05-28 12:30] jameshfisher opened #63 "Write some unit tests"

[2013-05-28 12:40] jameshfisher opened #64 "Rename the Css monad to Clay"
@sebastiaanvisser opinion on this? It's only a breaking change in users' types and it's a trivial fix.

Motivation: minimal pollution of namespace, idiomatic naming (other libraries with a central monad often use the library name), and it's not really a Css data structure until it gets rendered.

[2013-05-28 12:44] #51 closed, assigned to nobody

[2013-05-29 22:55] #63 closed, assigned to jameshfisher

[2013-05-29 23:01] jameshfisher opened #65 "Add clay tests to Travis-CI"
http://about.travis-ci.org/docs/user/languages/haskell/

[2013-06-04 06:49] #65 closed, assigned to sebastiaanvisser

[2013-08-23 13:38] piyush-kurur opened #68 "Full monoid instance for Selector"
I would have loved if Selector was a full monoid. I could have written `mconcat`
instead of using a auxilary function like `selectors` as in

https://github.com/piyush-kurur/pottery/blob/master/Pottery/Reset.hs

While it is understandable that there is no such thing as an empty list of selector, may be we can invent one called EmptySelector and report error in the css monad instead
when we try som

[2013-10-13 01:41] singpolyma opened #70 "Provide CLI tool for building stylesheets"
The idea is that the tool would take files that have Clay code in them, generate a file with the correct trivial import, `main`, and extensions added, and compile and run this (or just use `runhaskell`).

[2013-10-13 11:10] #64 closed, assigned to nobody

[2013-10-13 11:14] #45 closed, assigned to nobody

[2013-10-13 11:14] #43 closed, assigned to nobody

[2014-06-29 21:46] jameswilddev opened #79 "Margins cannot be percentages"
Hello!  Quite enjoying your framework!  Very easy to use!

When trying to set a margin using a percentage (example: margin (pct 25) 0 0 0) I get a compile error stating:
  Couldn't match expected type 'Abs' with actual type 'Rel'

Looks like margins have been implemented as something you have to specify an exact width for rather than a width relative to the parent container.  Quite straightforward

[2014-11-19 19:21] bitemyapp opened #83 "Please fix the website, it was pretty!"
http://fvisser.nl/clay

[2014-11-23 03:29] #83 closed, assigned to nobody

[2014-12-03 09:35] lpil opened #84 "Include an example of how to split clay css over multiple files"
Hi guys

First, thanks for this cool project! :)
I'm new to Haskell, so excuse me if I'm asking a silly question here.

With SCSS I can use the `@import` function to split my SCSS into multiple files and then reimport them back into the files I want.

Here's an example project directory. I keep mixins, variables, etc in the `modules` directory, and my code that directly compiles to CSS in the `par

[2014-12-23 12:14] #84 closed, assigned to nobody

[2015-01-07 12:40] rekahsoft opened #86 "VerticalAlign is missing valid value "super""
According to [this](https://developer.mozilla.org/en-US/docs/Web/CSS/vertical-align), the verticle-align property has the following valid values:

    baseline | sub | super | text-top | text-bottom | middle | top | bottom | <percentage> | <length>

Unforchunently, currently in clay there is no way to specify the property:

[code]

This is because VerticleAlignValue isn't exported (and it should r

[2015-01-12 09:49] #86 closed

[2015-01-15 20:31] buzzabuzza opened #88 "Css rule border-collapse is not supported."

[2015-01-16 03:30] Heather commented on #88
sad ... but `collapse` conflicts with `Visibility` `collapse`

[2015-01-16 03:48] Heather commented on #79
[code]

Not sure if just `0` could be treated as `Size` for now

for your situation currently it's better to use one of `marginTop, marginLeft, marginRight, marginBottom`

[2015-01-16 03:56] Heather commented on #70
:+1: yes I think it will be more intuitive to use. Do you plan to make it alike following:

[code]

I think also good idea will be add option for `compress` alike here : https://github.com/jaspervdj/hakyll/blob/7f7c628823f159690c10393ab1b4c5c45c4c52d1/src/Hakyll/Web/CompressCss.hs

[2015-01-24 07:35] beeramtheman opened #90 "Support for calc() would be nice"
Really love the framework, but I noticed it doesn't have built-in support the really handy calc() function. Of course for now one can get around this with the Other type class.

For those that don't know: https://developer.mozilla.org/en-US/docs/Web/CSS/calc

[code]

[2015-01-24 23:04] rekahsoft opened #91 "Css property justify-content missing"

[2015-01-24 23:33] rekahsoft opened #92 "Unable to set value to "initial" of the content property"
Unable to specify "initial" for the css property "content". It seems to me that this is because the Content type doesn't implement the Initial typeclass? But after looking through the clay source I didn't find many types that actually derived it. This seems a little odd as the "initial" value is valid for all css properties.

Also because the Content type doesn't implement the Other typeclass ```c

[2015-01-25 13:10] sebastiaanvisser commented on #92
This was just never implemented, but is now thanks to @Heather.

[2015-01-25 13:10] #92 closed

[2015-01-25 16:39] Heather commented on #92
@sebastiaanvisser sorry for offtopic but what do you think about conflicts alike here: https://github.com/sebastiaanvisser/clay/pull/93

[2015-01-30 14:53] sebastiaanvisser commented on #90
Yes, that would be nice. This should be reasonably easy to embed into some mini expression type.

[2015-01-30 14:55] sebastiaanvisser commented on #92
@Heather I think for values that are common between 'quite a lot' of css properties a type class makes a lot of sense. For values that are only shared between one or two properties I prefer to have two prefixed identifier.

Not sure where the threshold is, matter of taste I guess.

[2015-01-30 17:49] Heather commented on #88
This could be closed by https://github.com/sebastiaanvisser/clay/pull/93

[2015-02-04 13:48] jfischoff opened #95 "Export Selector Rendering"
I like the selector combinators and would like to use them in a situation where I only need selector printing (Selenium tests).

It would be great if the Selector rendering function (https://github.com/sebastiaanvisser/clay/blob/master/src/Clay/Render.hs#L245) was exposed.

[2015-02-04 14:08] #95 closed

[2015-02-04 14:09] jfischoff commented on #95
A pull request oh 2e27fc923ff23985d49e6e64f71632ca98cc31cb I see

[2015-02-04 14:09] jfischoff commented on #95
You're too fast ;)

[2015-02-04 14:16] jfischoff commented on #95
can you release a new minor version of this?

[2015-02-04 14:16] sebastiaanvisser commented on #95
Haha! Do you think we need the `With` version as well?

[2015-02-04 14:17] sebastiaanvisser commented on #95
For a single selector it doesn't feel useful to include newlines, but maybe you have a use case for this.

[2015-02-04 14:20] jfischoff commented on #95
No I just added it for consistency

[2015-02-04 14:23] sebastiaanvisser commented on #95
There you go: http://hackage.haskell.org/package/clay-0.10.1

Thanks!

[2015-02-04 19:06] #88 closed

[2015-02-06 03:54] jfischoff commented on #95
Thank you!

[2015-02-17 21:05] ocharles opened #97 "`center` missing for `textAlign`"
The only way to produce

[code]

is with

[code]

which seems a bit weird, as it's a standard property value.

[2015-02-17 22:27] sebastiaanvisser commented on #97
It's not pretty, but the 'official' way of doing it is like this:

`textAlign (alignSide sideCenter)`

[2015-02-17 22:29] sebastiaanvisser commented on #97
`center` currently isn't used anywhere else, so it does make sense to use it directly for `text-align` as well.

[2015-02-17 22:34] #97 closed

[2015-02-17 22:35] sebastiaanvisser commented on #97
Thanks, you can now use `textAlign center` directly, because it is the most obvious use case for `center` I can think of.

[2015-02-18 23:47] ocharles opened #98 "No way to specify "spread" property of box-shadow"
`boxShadow` takes three sizes, but the property actually has [four](https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow). I can of course use `-:`, but I think `clay` needs to be updated to match the spec.

[2015-02-19 05:11] Heather commented on #98
what clay really needs is optional arguments...

[2015-03-04 09:45] ocharles opened #101 "Monoid Css"
There's a clear `Monoid` instance for `Css` - could we have it added?

[code]

[2015-03-04 11:32] ocharles opened #102 "Clay.Property.intersperse is actually intercalate"
[code]

Note that `intercalate` is a specialisation of `Clay.Property.intersperse` with `a ~ [a]`.

This leads to some very confusing error messages, when I use `intersperse` outside the context of CSS!

[2015-03-06 00:06] tonyday567 commented on #101
I had:

    instance Monoid Css where
        mempty = return ()
        mappend a b = a >> b

I suppose applicatival trumps monadal these days.

[2015-03-10 02:50] jhenahan commented on #53
I'm a bit curious about how you'd like this to work in certain cases.

With the trivial Monoid instance I'm playing with, this renders as `a:active:hover`, which is not what you want, but I think it fits the spirit of the Monoid better. I'm mainly thinking about cases like`a:hover:last-child`.

Conceptually, I think this is the right way to make Refinement a Monoid, but I'm open to being convinced

[2015-03-10 03:19] jhenahan commented on #68
What about a `Semigroup`? It'll require some extra machinery to ensure that only `NonEmpty` lists of selectors can be created, but then we can just use `sconcat`.

[2015-03-10 09:37] #27 closed

[2015-03-16 15:14] ocharles commented on #53
I agree that what your suggesting. I can't say I gave the semigroup much thought, but seeing as pseudo selectors "stack" I'd be ok with your proposal.

[2015-04-06 14:30] andrewthad commented on #31
The Num instances for Size are gone. This should be closed.

[2015-04-06 14:42] andrewthad opened #106 "Build a list of properties without a rule"
I only recently discovered clay, and it is pretty awesome. It's basically what I always wanted Lucius (from Yesod's shakespeare templates) to be. So, with the flattery out of the way, I wanted to mention something that seems to be missing. There are a few occassions where it would be useful to build inline styles like this:

[code]

So, just the value of the style attribute. This part:

[code]

is

[2015-04-09 02:40] puffnfresh commented on #106
I've been porting Clay to PureScript and noticed this problem. This is because the combinators don't distinguish between properties under selectors and ones not under selectors.

I've been working on solving it using:

[code]

https://github.com/slamdata/purescript-css/blob/5adfef09ec6fe5a8e6a6134ddbc93485bcb3a64c/src/Css/Render.purs#L31

This type allows you to have blocks of style under a select

[2015-04-09 02:41] puffnfresh commented on #106
I'm very happy to port my changed type back if people think it's an acceptable solution.

[2015-04-15 21:03] andrewthad opened #107 "Any way to add !important?"
Is there a way to add the `!important` suffix in Clay? I don't see anything in the docs, but it seems unlikely that this would be missing. To clarify, I'm trying to do something like this:

[code]

[2015-04-29 11:03] i-breaker commented on #107
("display" -: "none !important")

[2015-05-12 12:57] Profpatsch commented on #53
I stumbled over `Refinements` not being a semigroup, too. But I think what the OP wants is not what the instance should be: `a:focus:hover` selects all elements that are focused *and* hovered over.

So it would more sense to make it a commutative semigroup that combines its effects in that manner.

[2015-05-15 17:00] hansroland opened #109 "Predefined fontsizes "small" and "xSmall" behave differently"
In the doumentation in Clay.Font predefined values for FontSize are defined, eg

[code]

xSmall and small have the same type, "FontSize".

However, they "work" differently:

[code]

Im using clay version 0.10.1 !

[2015-06-17 16:01] danieldevries commented on #109
This is the result of a name conflict, there's a small selector and a small font size.
[code]
So you'll have to specify which one you want to use or hide the one that you don't want to use.

[2015-06-25 19:54] marcelbuesing opened #110 "Publish new clay version"
Could you please publish a new version of clay, including the latest commits ? That would be great.

[2015-06-26 22:24] bryangarza commented on #79
I think you have to use `nil`, not 0.

[2015-06-27 02:56] bryangarza opened #112 "Setting unitless values for lineHeight"
I haven't been able to do:
[code]
Because it gives:
[code]
Making it `lineHeight (1 :: Size Rel)` or `lineHeight (1 :: Size Rem)` doesn't give the right CSS, that does `line-height : 1%` and `line-height : 1px`, respectively.

So instead I've been using `other` for all the `lineHeight` calls:
[code]
Am I doing something wrong? `line-height` is one of those CSS properties where having a unitless si

[2015-06-27 07:20] marcelbuesing commented on #112
How about ```lineHeight (pct 100)``` ? Not sure though if that behaves differently.

[2015-06-27 07:44] marcelbuesing commented on #112
Ok apparently it does behave differently [stackoverflow](http://stackoverflow.com/questions/20695333/why-does-unitless-line-height-behave-differently-from-percentage-or-em-in-this-e).

[2015-06-27 16:11] CodyReichert commented on #112
I think what you're looking for is `unitless`

https://github.com/sebastiaanvisser/clay/blob/master/src/Clay/Size.hs#L80

[2015-06-27 17:13] bryangarza commented on #112
I know about `unitless` but

[code]

Gives `Not in scope: 'unitless'`, even when importing `Clay.Size`

[2015-06-27 17:26] CodyReichert commented on #112
As far as I know, `unitless` new and not on Hackage. So unless you're pulling in Clay from Github, that's correct. http://hackage.haskell.org/package/clay-0.10.1/docs/Clay-Size.html

[2015-06-28 15:01] bryangarza commented on #112
Ah, that must be it 👍 I'll install Clay directly from Git.

[2015-06-28 15:01] #112 closed

[2015-07-30 09:17] ocharles opened #113 "px should accept Doubles, not Integers"
It's valid to have real numbers as `px` values, not just integers.

[2015-09-18 10:14] ibotty commented on #101
Just noticed, that that issue can be closed, right?

[2015-09-20 13:35] tonyday567 commented on #101
Sure can!

[2015-09-27 00:33] psfblair opened #114 "Alpha value of Rgba and Hsla should be a Double or Float between 0 and 1"
The source for Clay.Color has the alpha values as Integers and does some pattern matching indicating that it is conceived of as a value between 0 and 255. The w3c says that the alpha values are decimal fractions of 1. (See http://www.w3.org/wiki/CSS/Properties/color/RGBA and http://www.w3.org/wiki/CSS/Properties/color/HSLA ).

[2015-12-31 02:53] 3noch commented on #91
:+1:

[2015-12-31 02:55] 3noch opened #119 "Missing "align-self" attribute"

[2015-12-31 03:00] 3noch commented on #119
I see that this is in `master`. Is there a reason this is not on Hackage yet?

[2015-12-31 03:01] 3noch commented on #91
I see this is in `master`. Is there a reason this is not on Hackage yet?

[2015-12-31 12:19] marcelbuesing commented on #91
@3noch I have been waiting for a new release since Feb 2015 for the flex related stuff. As a workaround if you are using stack, you may directly reference the git repository and commit ([details](https://github.com/commercialhaskell/stack/blob/master/doc/yaml_configuration.md#packages)).

[2015-12-31 14:03] 3noch commented on #91
@marcelbuesing Thanks! I'll do that. It seems @sebastiaanvisser is still actively maintaining this repo so I wonder why Hackage is so out-of-date.

[2016-02-06 22:35] emmanueltouzery opened #120 "rendering inline styles"
I'm using `clay` to render inline styles, in the HTML, like so:

    <div style="margin-top: 10px">

it works well, but I couldn't find a "good" api for that. `renderWith compact []` is still generating the `{}` around the style, which I have to remove with `tail . init`. Is there is a better way which I've missed? If not, it would be nice to support this use case from the library.

[2016-02-15 21:55] BartAdv commented on #110
Yeah, I needed to do some flexbox stuff and to my surprise none of it was in the published version. Fortunately one can still use escape hatches (or point to certain revision if using stack for example), but still, seems like it's been quite a time since those things were merged.

[2016-02-15 22:02] 3noch commented on #110
:+1:

[2016-02-18 22:58] int-index commented on #110
+1 Flexbox support.

[2016-06-22 12:09] montagy commented on #114
+1
Integer cant satisfy needs.

[2016-06-22 12:35] montagy commented on #110
where is the maintainer?

[2016-06-22 12:46] montagy commented on #110
no maintainer?

[2016-06-24 08:50] seanparsons commented on #110
I'm ostensibly one of the maintainers last I checked, but I've been super busy of recent.

[2016-06-25 20:44] seanparsons commented on #114
Done.

[2016-06-25 20:44] #114 closed

[2016-06-25 20:44] seanparsons commented on #110
Long overdue, but I've pushed 0.11.

[2016-06-25 20:44] #110 closed

[2016-06-25 20:46] #101 closed

[2016-06-25 20:47] seanparsons commented on #98
`boxShadowWithSpread` is in there, oddly it wasn't exported previously.

[2016-06-25 20:47] #98 closed

[2016-06-25 20:48] seanparsons commented on #119
@3noch I've just pushed a new release.

[2016-06-25 20:48] #119 closed

[2016-06-25 20:57] seanparsons commented on #106
@puffnfresh I'll happily look over any PR on this front!

[2016-06-25 21:24] marcelbuesing commented on #110
Awesome! Thank you so much :)

[2016-07-07 08:33] phadej commented on #120
I run into this issue myself, haven't found better approach `tail .init` myself either :(

[2016-07-17 20:30] Myrl commented on #30
Is there any update on this?

[2016-07-17 20:42] seanparsons commented on #30
@Myrl Feel free to submit a PR if it's a feature you want. :)

[2016-10-02 15:00] bobjflong commented on #120
Me too, note that `{margin-top:10px}` is not valid CSS. Proposed a new `htmlInline` configuration [here](https://github.com/sebastiaanvisser/clay/pull/127).

[2016-10-04 13:40] johannesgerer opened #128 "Support grouping"
Support for grouping would be great (or did I miss it in the docs?):

[code]

[2016-10-08 16:28] #120 closed

[2016-10-08 17:47] phadej commented on #120
This is awesome, thanks!

[2016-10-28 23:48] DanBurton opened #133 "Allow test suite to build against hspec-expectations-0.8.0"
Currently, the constraint is `hspec-expectations < 0.8`

[2016-11-10 23:56] anderspapitto opened #134 ""API Documentation" link on homepage is dead"
when I follow the link at the bottom of http://fvisser.nl/clay/ I see

[code]

following that suggested link doesn't work either

[2016-11-11 00:22] seanparsons commented on #134
Hmmm, sometimes those docs on Hackage lag a little, but this one should totally be up by now. Gah.

[2016-11-12 14:31] seanparsons commented on #134
Should be sorted now, thanks for notifying us!

[2016-11-12 14:31] #134 closed

[2016-11-23 05:07] psosera opened #135 "Auto causes an infinite loop on Clay 0.12"
The following code snippet produces an infinite loop on Clay version 0.12:

[code]

Clay version 0.11 accepts this code and produces the expected output:

[code]

[2016-12-05 22:37] seanparsons commented on #135
More minimal reproducing code (for my own reference mainly):

`putCss $ marginLeft auto`

[2016-12-05 23:20] #135 closed

[2017-01-18 00:44] dbaynard commented on #135
Hello, would you kindly upload a new version to hackage, fixing this issue?

[2017-01-19 23:34] seanparsons commented on #135
@dbaynard Apologies, 0.12.1 is now deployed to Hackage.

[2017-03-31 20:57] bobjflong commented on #113
I'm pretty sure `px` now accepts Doubles so this could be closed.

[2017-04-12 20:02] Dridus commented on #128
`Selector` instances `Monoid` which is the abstract notion of things that can be appended to each other. In `Selector`'s case, this does what you're asking for:

[code]

yields

[code]

[2017-04-14 20:27] johannesgerer commented on #128
Is that documented somewhere?

[2017-04-14 21:19] Dridus commented on #128
it is! though it's not super duper clear. on the tutorial there's this:

[code]

which shows it happening but doesn't explain. It's also there in the API docs but not at all clearly unless you're pretty familiar with Haskell already - `Selector` is really an alias for `Fix SelectorF` (http://hackage.haskell.org/package/clay-0.12.1/docs/Clay-Selector.html#t:Selector), and if you go to the docs for

[2017-05-09 15:51] dbaynard opened #137 "Support Paged Media"
Hello,

Clay is already nearly there when it comes to supporting paged media, for use with `@media print` in browsers or dedicated typesetters such as [Prince](//www.princexml.com).

Many of the changes are simply adding combinators; a suitable `Clay.Paged` module might be suitable.

One change is more substantial. `@page` queries can take nested css, like `@media` queries. For example, the follow

[2017-06-05 20:46] ryantrinkle opened #138 "Incorrect value for sResize and wResize?"
These don't look quite right to me: https://github.com/sebastiaanvisser/clay/blob/a887456c5e6deee59f94440d3b615754dcea67eb/src/Clay/Display.hs#L275-L276

[2017-06-05 20:54] seanparsons commented on #138
Agreed.

[2017-06-05 20:56] ryantrinkle opened #139 "Extensible types"
Is there a way to construct a CursorValue from user code?  E.g. something like:
[code]

[2017-06-13 21:45] ndmitchell opened #140 "Add Semigroup instance for Selector"
Now semigroup is in base it would be handy if Selector was an instance

[2017-06-17 12:11] seanparsons commented on #139
@ryantrinkle Nope, I'm slightly hesitant about opening up things like that.

[2017-06-17 12:11] #139 closed

[2017-06-17 13:02] seanparsons commented on #138
Fixed in 0.12.2.

[2017-06-17 13:02] seanparsons commented on #140
Fixed in 0.12.2.

[2017-06-17 13:02] #140 closed

[2017-06-17 13:02] seanparsons commented on #138
Fixed in 0.12.2.

[2017-06-17 13:02] #138 closed

[2017-06-17 14:13] ryantrinkle commented on #138
Thanks!

On Jun 17, 2017 9:19 AM, "Sean Parsons" <notifications@github.com> wrote:

[2017-07-06 17:31] 3noch opened #143 "stepStop is not a valid timing function; should be stepEnd"
`step-stop` is not a timing function. It's actually `step-end`.

[2017-07-11 07:02] waddlaw opened #144 "boxShadow none"
My test code following:

[code]

`boxShadow none` is invalid code.
but, I want to this.

What should I do?

[2017-07-11 13:55] 3noch commented on #144
You will likely have to make this one yourself. But it's easy. Inspecting the source led to this:

[code]

[2017-07-11 14:29] waddlaw commented on #144
@3noch thanks a lot!

`Clay` doesn't export `prefixed`...
`Clay.Stylesheet` very useful for me.
I didn't know that at all!

thanks.

[2017-07-11 14:29] #144 closed

[2017-07-12 02:10] 3noch commented on #144
@waddlaw Glad to help. I still think it'd be much better if there were a nice API for this.

[2017-07-12 02:28] 3noch opened #146 "Support box-shadow with none, initial, and inherit"
As evidenced by #144, it's not easy to use `none`, `initial`, and `inherit` with `box-shadow`. Can we add an API for these? Even if it just accepted an arbitrary string argument, it would be better than having to reconstruct the logic by reading the source.

[2017-07-14 16:11] jmn opened #147 "Make an example showing how to add new properties"
I'd like to do something like
img{
     object-fit: scale-down;
}

But Clay doesn't seem to have objectFit. It would be most helpful to have a code example showing how to add a new property.

[2017-07-14 16:34] jmn commented on #147
I think I figured my particular case out by looking at commits. Something like

[code]

[2017-07-15 13:32] chrissound opened #148 "Add support for "transform-style""
https://developer.mozilla.org/en-US/docs/Web/CSS/transform-style

[2017-07-15 16:48] chrissound commented on #147
I would think this is probably a a good pull request. But I agree, it might be worth mentioning how to add new properties. Is it really that simple as the code sample above?

[2017-08-05 17:02] dbaynard commented on #147
As a quick workaround, there's the `"object-fit" -: "scale-down"` option (take care when quoting, though) using `-:`.

[2017-08-18 17:14] dbaynard commented on #137
Would a PR with `Clay.Paged` be an acceptable addition to the API?

How about adding the function implementing the `@page` functionality?

[2017-08-18 19:31] seanparsons commented on #137
That sounds like a reasonable approach.

[2017-08-28 16:21] dbaynard opened #149 "Render css comments (enhancement)"
Sometimes it is useful for output css to have comments. Also is is occasionally useful to have commented out css.

---

It would be good to have one function that adds a comment.
[code]
It may be useful to specify during pretty-printing how this comment should be appended to the previous element (same line, end of line).

It would also be helpful to have a function which comments out code, as (for

[2017-08-28 20:46] seanparsons commented on #149
@dbaynard I'm entirely happy to entertain a PR for this, I can imagine how it would be useful.

[2017-09-20 00:21] dbaynard opened #150 "hanging and eachline should be :: Size a -> TextIndent"
From <https://developer.mozilla.org/en-US/docs/Web/CSS/text-indent>

Formal syntax
[code]

Examples

[code]

Browser support is lacking, unfortunately (presumably how the error crept in) but Prince supports the keywords.

[2018-02-04 14:24] adius opened #153 "Incorrect values for HSL"
`hsl 0 0.2 0.7` must yield `hsl(0, 20%, 70%)`
(and not `hsl(0, 0.2%, 0.7%)`)

[2018-02-04 14:36] adius commented on #148
Actually all `transform-*` seem to be missing:
- `transform-box`
- `transform-origin`
- `transform-style`

[2018-02-10 19:44] adius commented on #153
If this is too much of a breaking change, we could also introduce a `hslNorm` or similar function which each value `0 < x <= 1` (which makes much more sense anyways if you ask me)

[2018-02-10 20:11] adius opened #154 "Lighten HSL with white and not transparency"
`lighten 0.2 rgb` lightens the color with white, but `lighten 0.2 hsl` increases it's transparency (which doesn't even necessarily mean lighten, as it could be in front of a black background).

[2018-02-10 20:58] adius opened #155 "There should be safe versions of `lighten` and `darken`"
[code]

or maybe it returns a tuple  a la `(error, value)`

What do you think?

[2018-02-10 23:12] adius opened #156 "Add support for currentColor"
https://developer.mozilla.org/en-US/docs/Web/CSS/color_value#currentColor_keyword

Full browser support: https://caniuse.com/#feat=currentcolor

[2018-02-10 23:13] adius commented on #156
Workarount for the time being is `borderColor (other "currentColor")`

[2018-02-10 23:19] adius commented on #13
Uhm, can we please fix this!?
It seems like the wrong order is only implemented due to goodwill, but it's not specified, right?

[2018-03-04 08:46] dbaynard commented on #149
I've done the relatively straightforward part of this, but it looks like doing it all will require significant changes to the core types. `commenting` runs the writer, modified the `Rule`s, and then replaces them, which seems a little odd.

I'd eventually like to tackle

- [x] Annotating properties with comments.
- [ ] Commenting out lines (which would require a further change to the `Property` co

[2018-03-06 22:15] #102 closed

[2018-03-06 22:15] #150 closed

[2018-03-06 22:24] #107 closed

[2018-03-06 22:52] #146 closed

[2018-03-07 12:38] dbaynard commented on #146
@3noch In 0.12.3

[code]

[2018-03-07 12:42] dbaynard commented on #107
@andrewthad From 0.12.3

[code]

[2018-03-07 12:54] andrewthad commented on #107
thanks!

[2018-03-07 14:55] phadej opened #161 "0.12.3 changed Property constructor"
This is breaking change, which according to [PVP](https://pvp.haskell.org/)  would require major version bump (i.e. 0.12.3 should been 0.13). Please pay attention to this in the future.

If `Rule` is meant to be opaque type, consider using `.Internal` modules, with a disclaimer that definitions are subject to change even in minor version bumps.

See https://github.com/fpco/stackage/issues/3336 and

[2018-03-07 15:21] seanparsons commented on #161
@phadej Is there something akin to Scala's MiMa that we can use to avoid breakages like this in the future?

[2018-03-07 15:28] phadej commented on #161
@seanparsons good question, there is https://github.com/blitzcode/hackage-diff but I haven't used it in the past few years. It could be upgraded to use `cabal new-build` (or/and `stack`) so it don't need to play with sandboxes, then it will work nicely.

[2018-03-07 15:31] seanparsons commented on #161
@phadej Hmmm, I might have a look at that this week.

[2018-03-07 15:55] 3noch commented on #146
@dbaynard Thank you!

[2018-03-07 19:58] seanparsons commented on #161
@phadej I've pushed a 0.13.0 release and deprecated 0.12.3.

[2018-03-07 19:59] #161 closed

[2018-03-07 19:59] phadej commented on #161
@seanparsons Thanks!

[2018-03-31 17:27] RamiroPastor opened #163 "Font error (with the font method)"
The code:
[code]

Produces:

[code]

Which is missing a comma. Is this intentional, and related to #19 ?

[2018-03-31 19:58] RamiroPastor commented on #163
Btw i already had this issue some time ago, but now i find it more annoying, this:

[code]

Is being changed ...

[2018-03-31 20:17] RamiroPastor commented on #163
... to this

[code]

Whatever, not a big deal anyways

[2018-04-09 10:57] OlivierSohn opened #165 "Question : how can I use title ?"
I couldn't figure out how to use `title`:

[code]

gives the following error:

[code]

Removing the `title` line works ok.

Thanks!

[2018-04-11 05:36] RamiroPastor commented on #165
`title` is a polymorphic constant, that is, it takes no arguments.

[2018-04-11 10:55] OlivierSohn commented on #165
Thanks!

[2018-04-11 10:55] #165 closed

[2018-04-11 22:53] RamiroPastor opened #167 "No instance for Monoid Refinement"
The code:
[code]

The error:
[code]

[2018-04-11 23:11] RamiroPastor commented on #167
Happens both when importing only `Clay`, as well as when importing both `Clay` and `Clay.Selector`

[2018-04-19 02:52] RamiroPastor opened #168 "Gradients malformed syntax"
The code:

[code]

The error:

[code]

[2018-04-21 00:01] dbaynard commented on #168
What should it be? There are a few issues with `background*` — I'd quite like to make some fairly big breaking changes to it (that probably won't affect working code, but should stop things like this) for a (near) future major release.

[2018-04-21 00:17] dbaynard commented on #167
See #53

Just to be clear, you can sort of achieve what you seem to want with

[code]

or better,

[code]

Depending on what you're doing, you may wish to throw in a `pop 1 $` immediately before the `foldMap`.

[2018-04-21 00:52] RamiroPastor commented on #168
According to [this](https://www.w3schools.com/css/css3_gradients.asp) it should be

[code]

so

[code]

[2018-04-21 00:55] RamiroPastor commented on #168
Also, this works:

[code]

[2018-04-21 02:37] RamiroPastor commented on #167
I intended to do something like

[code]

Simply because there seemed to be a `Monoid` instance for `Refinement`

[2018-04-21 16:30] RamiroPastor opened #169 "Variable not in scope: important"
The code:

[code]

The error:

[code]

Found this one days ago but i didn't report it (because i didn't really need to use it)

When importing only Clay you get the "not in scope" version of the error

[2018-04-25 02:43] dbaynard commented on #169
Which version are you using? (`important` was introduced in `0.13.0`.)

[2018-04-25 11:59] RamiroPastor commented on #169
I'm using version 0.12.2 according to a stack command i just learned about (list-dependencies).

Should i upgrade to 0.13.0? Can i do it easily with stack?

[2018-04-25 12:04] #169 closed

[2018-04-25 23:35] dbaynard commented on #169
The easiest way is to add to your stack.yaml,

[code]

In general, this introduces a risk that other libraries won't build with it, and you can see which might not be supported at <http://packdeps.haskellers.com/reverse/clay>. But you'll probably be fine.

Unfortunately, there's no workaround for `important` on earlier versions.

[2018-04-26 00:35] RamiroPastor commented on #169
Thx!

[2018-05-03 21:15] dbaynard opened #170 "Offer to help with maintenance"
Hello,

I'd be interested in helping maintain this library. On various projects I've used clay a lot, and having made a few PRs recently, I am reasonably familiar with the code. There's a fair amount of work needed to ensure the DSL matches the evolving CSS standard, and I'd like to make more regular contributions to that.

Let me know whether that would be helpful.

David

[2018-05-04 19:26] seanparsons commented on #170
Related to your comment I've pondered in recent times about a code generation based approach because a few bugs in recent times have been things like typos which would just be entirely eliminated by doing something similar to the Amazonka libraries.

[2018-05-04 21:25] dbaynard commented on #170
Good stuff — happy to help.

I think code generation is an excellent idea. I've had a few other thoughts, such as a (hint)[https://hackage.haskell.org/package/hint] based executable, a comprehensive test suite (which would play well with code generation), and there are a couple of outstanding issues which would be nice to resolve but require some heavy duty internal refactoring.

In general, I'd b

[2018-05-11 01:34] DanBurton opened #171 "clay-0.13.0 build failure with GHC 8.4"
Add semigroup instances
See also: https://ghc.haskell.org/trac/ghc/wiki/Migration/8.4#SemigroupMonoidsuperclasses

[code]

I was able to reproduce this locally like so:

[code]

n.b. I would also recommend allowing the test suite to work with `hspec-2.5`.

[2018-05-13 11:26] #143 closed

[2018-05-23 07:26] NickSeagull opened #172 "Upload new version to hackage/stackage?"
Hi, I maintain an app that uses Clay underneath, and some users are having trouble getting the latest version because it depends on Clay 0.13.0, which doesn't compile with GHC 8.4.

I saw that on `master` everything is fixed, could you upload these changes to Hackage or Stackage please?

Thanks in advance! :smile: :pray:

[2018-05-23 09:09] #172 closed

[2018-05-23 09:09] seanparsons commented on #172
Yup, will be done, just been really busy.

[2018-05-23 09:13] NickSeagull commented on #172
Thanks! Could you please mention me here when it's done so I can update my documentation?

[2018-05-26 17:58] seanparsons commented on #171
This is fixed now.

[2018-05-26 17:58] #171 closed

[2018-05-26 17:58] seanparsons commented on #171
@DanBurton My Stackage PR is here: https://github.com/commercialhaskell/stackage/pull/3672

[2018-05-26 18:00] seanparsons commented on #172
@NickSeagull 0.13.1 now builds with GHC 8.4

[2018-05-27 23:59] NickSeagull commented on #172
Thanks!

[2018-07-21 18:39] vyorkin opened #175 "Incorrectly renders selectors like `*:before` or `*::before`"
Thanks for an awesome package!
Got a question regarding the rendering of `*`: could you please explain in a couple of words, why do you need this `null`-check here:
https://github.com/sebastiaanvisser/clay/blob/54dc9eaf0abd180ef9e35d97313062d99a02ee75/src/Clay/Render.hs#L302 ?

I'm asking because it seems that things like `*::before` will be rendered as just `::before` instead, which I'm not sure

[2018-07-29 15:56] dbaynard opened #176 "Support grid"
It needs a new module.

https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids

https://css-tricks.com/snippets/css/complete-guide-grid/

[2018-07-29 16:28] dbaynard opened #177 "Support @supports"
Feature detection.

Note: it isn't clear that `query` and co do not support `@supports`. They do not.

https://developer.mozilla.org/en-US/docs/Web/CSS/@supports

[2018-07-29 16:29] dbaynard commented on #177
Related #137 (both introduce new scopes)

[2018-07-30 21:39] vyorkin opened #178 "Add support for `caret-color`"
https://developer.mozilla.org/en-US/docs/Web/CSS/caret-color

[2018-10-24 08:56] phadej opened #183 "wordBreak breakWord"
`break-word` is a valid `word-break`.

[2019-02-21 15:28] JonathanReeve opened #184 "Clay is broken on NixOS"
Forgive me if this isn't the right place to post this, but I'm trying to start a project that uses clay, but I can't, because the version in Nixpkgs won't build. [I describe the issue here](https://github.com/NixOS/nixpkgs/issues/54958), but nixpkgs devs don't seem to think it's their responsibility to fix. Is there a way you can fix your package so that it plays nice with Nix/nixpkgs?

Also if yo

[2019-03-13 16:28] locallycompact commented on #184
Is this project being maintained? I'd also like the version bounds for this fixed so it runs on NixOS. I'm happy to take ownership if the original author can not continue maintenance.

[2019-03-14 16:48] sebastiaanvisser commented on #184
Hi, I’m the ‘original’ original author but others have taken over maintenance for a long time now and I haven’t been involved at all anymore. Not sure if anyone feels responsible right now. I can check if can add you to the project so you can try to fix the build issues on nix.

Haven’t used nix myself so can’t be of any help there.

[2019-03-15 10:52] locallycompact commented on #184
Thanks, I'd appreciate that.

[2019-03-30 20:15] bsima commented on #184
I'm also interested in this project. I was in the progress of writing a small CSS EDSL myself when I found this...

[2019-05-26 21:00] BebeSparkelSparkel commented on #90
@bramgg Did you figure this out?

[2019-05-26 21:06] BebeSparkelSparkel commented on #91
Seems like this should be closed

[2019-05-26 21:16] BebeSparkelSparkel commented on #30
This should be closed

[2019-05-26 21:17] BebeSparkelSparkel commented on #26
example?

[2019-05-28 13:02] BebeSparkelSparkel opened #185 "Refinement -> Selector"
I'm not sure if this is the same as #25 but it would be nice to have a function that converts a Refinement to a Selector.

Right now to just select on a class or an id we have to use `star # class_ "class-name"` which outputs `*.class-name`.

Would `sel = (#) $ selectorFromText "" :: Refinement -> Selector`  be an acceptable solution?

[2019-05-28 13:20] BebeSparkelSparkel commented on #185
pr #186

[2019-05-28 21:56] BebeSparkelSparkel commented on #176
I would like to help create this.
1. What is the best file to pattern off of for this, `src/Clay/FlexBox.hs`?
2. Is https://drafts.csswg.org/css-grid-1/ a good reference for the grid spec?

[2019-05-28 22:05] bsima commented on #176
Yes Clay.FlexBox is a good module to study.

I always use MDN docs for web stuff, they have really high quality docs https://developer.mozilla.org/en-US/docs/Web/CSS/grid

I’ll just search “mdn <term>” like “mdn css grid” and it pops right up on DuckDuckGo

I would be happy to review the code when you get something together and help however I can. I’m in the process of moving and starting a new jo

[2019-05-29 12:10] dbaynard commented on #176
I offered to help maintain clay but despite a positive response, the repo owner never made any moves.

I've written some extras in dbaynard/cascade (it was meant to be a high level wrapper with examples of styles but it has mutated a little.)

As it happens, the are design choices made in clay that I think might be improved, so I'm holding off on repeating my offer until I've investigated these al

[2019-05-29 12:25] BebeSparkelSparkel commented on #176
@dbaynard Which other ones have you seen that you like?

[2019-05-29 23:56] dbaynard commented on #176
@BebeSparkelSparkel I don't quite understand your question, but if you mean other design choices: something which integrates with a parser, or the technique used by https://hackage.haskell.org/package/type-of-html.

[2019-06-07 20:09] tomsmalley commented on #90
@BebeSparkelSparkel see `Clay.Size`: https://hackage.haskell.org/package/clay-0.13.1/docs/Clay-Size.html#v:-64--43--64-

[2019-08-30 12:45] turion commented on #184
@JonathanReeve My workaround is currently using `haskell.lib.markUnbroken` and `haskell.lib.dontCheck`, since `hspec` etc. are only needed for tests. The whole derivation looks something like this:

[code]

[2019-10-21 14:32] NCrashed opened #188 "How to get translate by percents?"
I'd like to get `transform: translateY(-50%);` in output, but http://hackage.haskell.org/package/clay-0.13.1/docs/Clay-Transform.html#v:translateY doesn't accept `Size Percentage`. Is it intentional design?

[2019-10-21 17:01] NCrashed commented on #188
I found workaround:
[code]

[2019-10-26 18:26] andgate commented on #184
There is a PR(sebastiaanvisser/clay#187) on clay to update the version bounds.

[2019-11-15 12:34] kenranunderscore commented on #184
@JonathanReeve I just found this via your (supposedly) SO post. I posted my answer there, but it might be of interest to @turion as well:
Jailbreaking the `clay` package works as well (`haskell.lib.doJailbreak`). This way the tests will still run (successfully). (See [here](https://stackoverflow.com/a/58875003/1726428) for what I did).

[2019-11-17 12:09] turion opened #189 "Hackage release process"
Hi @sebastiaanvisser, I'll have to bother you with one last issue. To solve issues like #184, I'd need to have a way to upload to hackage (without creating my own fork). I see two ways how that might work:

1. Ideally, we could set up hackage deployment via Travis. If that's fine for you I'll create a MR where you (or someone else) can add a deploy key. If it works out the way I believe it should,

[2019-11-17 12:42] turion opened #190 "Get rid of build warnings related to monoids"
When building with GHC 8.8, There are a lot of warnings like this:

[code]

These places should be refactored to make build less noisy.

[2019-11-17 16:20] turion commented on #25
In case you're still active here: Do you think your issue is solved by #186?

[2019-11-17 17:05] turion commented on #184
Should be fixed soon after we've figured out a way how I can upload to hackage. (#189)

[2019-11-17 17:09] turion commented on #188
Seems like an arbitrary restriction. https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/translateY#Syntax says one can translate by percentages. PRs that relax the typing constraints on the `translate*` functions welcome.

[2019-11-17 17:10] turion commented on #183
Sorry, I'm not sure what you would like to see changed.

[2019-11-17 17:10] turion commented on #178
PR welcome.

[2019-11-17 17:12] turion commented on #137
@dbaynard do you want to create a PR?

[2019-11-17 17:13] turion commented on #177
Feel free to create a PR that either adds it (or documents that `query` doesn't support it).

[2019-11-17 17:14] turion commented on #176
Hi @dbaynard, new maintainer here. Sounds like a good and popular feature to support. If you have an idea how to approach this, feel free to create a PR, I'll review and merge :)

[2019-11-17 17:16] sebastiaanvisser commented on #189
Is there a way for me to hand over the 'clay' namespace on Hackage to someone else? I guess you could just upload to it, right?

Honestly, I don't even see my Hackage account in my 1password which means the account might be lost. I might be able to ping a Hackage maintainer to help us out.

[2019-11-17 17:18] turion commented on #170
@sebastiaanvisser @seanparsons @dbaynard

It would be great to have you on board, if you're still up for that. I'm just getting started maintaining here, and I can already foresee that I'll only be able to review PRs, triage issues and keep the CI happy. I don't have the CSS knowledge to contribute nontrivial stuff, or figure out a roadmap.

[2019-11-17 17:23] turion commented on #175
I don't know. Do you have a minimal example that produces wrong CSS?

[2019-11-17 17:25] turion commented on #168
@RamiroPastor Do you want to give this issue a try in a pull request?

[2019-11-17 17:27] turion commented on #163
Agree, there should probably be a comma. Do you want to fix this and add a regression test?

[2019-11-17 17:28] turion commented on #156
That would be cool. PRs welcome.

[2019-11-17 17:34] turion commented on #155
@ad-si So in which cases should it return `Nothing`? `lighten x white` and `darken x black`? I thought the problem is rather, that `Other` can't be `lighten`ed. I agree that there probably should be no calls to `error`, as there currently is, but that's a major change. That being said, I'm fine with changing this to `lighten :: Float -> Color -> Maybe Color` or even `lighten :: Float -> Color -> E

[2019-11-17 17:34] turion commented on #154
PING @ad-si

[2019-11-17 17:34] turion commented on #154
Would be nice to fix. PR welcome.

[2019-11-17 17:35] turion commented on #156
PING @ad-si

[2019-11-17 17:42] phadej commented on #183
There's only `breakAll` and `keepAll` in https://hackage.haskell.org/package/clay-0.13.1/docs/Clay-Text.html#g:11

[2019-11-17 17:45] turion commented on #189
I tried uploading, but I'm getting this error message:

[code]

So yes, if you can't login to hackage, we probably need to contact a hackage maintainer.

[2019-11-17 17:46] turion commented on #189
Or, easier (http://hackage.haskell.org/accounts):

[2019-11-17 17:53] turion commented on #153
@ad-si I think we shouldn't change the existing behaviour of that function since many people rely on it already. Introducing a new function would be fine for me, but is secondary. The most important step right now is to document that `hsl` expects a percentage. That would be necessary (and sufficient) IMO to close the issue. PR welcome.

[2019-11-17 17:54] turion commented on #109
PR welcome that elaborates this point in docs. Otherwise I'd close.

[2019-11-17 17:55] turion commented on #113
True. See https://hackage.haskell.org/package/clay-0.13.1/docs/Clay-Size.html#v:px. `px :: Double -> Size LengthUnit`

[2019-11-17 17:55] #113 closed

[2019-11-17 17:56] turion commented on #128
I'll accept a PR that elaborates this in Haddock. Otherwise will close.

[2019-11-17 17:57] #133 closed

[2019-11-17 17:58] turion commented on #147
Happy to accept a PR adding this feature with docs.

[2019-11-17 17:59] turion commented on #148
@ad-si Happy to accept a PR.

[2019-11-17 18:02] turion commented on #149
If you're still planning on adding that, can you elaborate in a new issue and close this?

[2019-11-17 18:04] turion commented on #106
@puffnfresh New maintainer here :) do you still want to port your change back?

[2019-11-17 18:05] #91 closed

[2019-11-17 18:07] turion commented on #90
There is an interface for basic calculations (`+, -, *, /`).

[2019-11-17 18:07] #90 closed

[2019-11-17 18:08] turion commented on #79
I'm not sure what's a good resolution here. If anyone has an idea, feel free to send a PR :)

[2019-11-17 18:08] sebastiaanvisser commented on #189
Not going to work. It seems the account is connected to my uni e-mail, which hasn't been in use anymore for the past ten years.

[2019-11-17 18:10] turion commented on #70
Sounds like a good idea. PR with a test welcome. Ideally, test it on CI with Nix.

[2019-11-17 18:13] turion commented on #189
Dang. Well, I guess asking a hackage maintainer is the only option.

How did you give e.g. @seanparsons access?

[2019-11-17 18:14] sebastiaanvisser commented on #189
I'm not sure I did. I think you can (or used to be able to) just upload new versions of someone else's packages.

[2019-11-17 18:16] turion commented on #68
It currently is a `Semigroup`, but the `Monoid` instance is a bit embarassing because it simply `error`s on `mempty`. What would be a good value for `mempty`?

[2019-11-17 18:18] sebastiaanvisser commented on #189
Hi @turion, what is your hackage username? I'll forward it to a Hackage maintainer who can add you

[2019-11-17 18:19] turion commented on #189
It's "turion" as well. Thanks!

[2019-11-17 18:19] turion commented on #62
Hi @jameshfisher, new maintainer here. You reported a lot of issues some 6 1/2 years ago. Do you think someone (maybe you? ;) ) might work on them? Or at least triage and find out which issues are still valid?

[2019-11-17 18:21] sebastiaanvisser commented on #189
Ok, the Hackage maintainer is a friend of mine and will probably fix this tonight.

[2019-11-17 18:23] turion commented on #53
I guess it would make sense to make `Refinement` a `Semigroup`, but I'm not sure I understand this well enough. PR welcome.

[2019-11-17 18:24] turion commented on #41
Maybe there is a testing framework that validates a CSS file together with an HTML file? One could use `lucid` or `blaze` to generate some HTML, and `clay` to generate some fitting CSS, and validate both?

[2019-11-17 18:30] turion commented on #31
Well, there are still/again `Num` instances for `Size LengthUnit` and `Size Percentage` that don't do anything else than providing `fromInteger`. It's a bit ridiculous that all methods like `+` and so on are not implemented, and throw an error instead.

Fixing this issue would entail (IMO) to implement at least `(+), abs, negate` for these two `Size`s, and documenting in Haddock above the instance

[2019-11-17 18:30] #30 closed

[2019-11-17 18:36] turion commented on #183
Ah thanks :) unfortunately, that would clash with [`breakWord :: OverflowWrap`](https://hackage.haskell.org/package/clay-0.13.1/docs/Clay-Text.html#v:breakWord). Any idea how to resolve this?

[2019-11-17 18:59] phadej commented on #183
I'd be fine with any solution:

[code]

or

[code]

[2019-11-17 19:57] sebastiaanvisser commented on #189
done!

[2019-11-17 21:43] turion commented on #189
Uploaded, it worked! Thanks for handing over :)

[2019-11-17 21:43] #189 closed

[2019-11-18 07:52] turion commented on #184
Uploaded to hackage. This should fix it as soon as `nixpkgs` automatically downloads hackage again.

[2019-11-18 07:52] #184 closed

[2019-11-18 09:10] dbaynard commented on #170
Hi @turion

Thanks for getting to this. As you see, my offer of help and the various comments/PRs were (in most cases) over a year ago. If there is now a solid plan for maintenance, then that is great to hear — but sadly, at the moment, I am unable to make the contributions clay needs.

That said, I do have some local changes and extensions which I will happily push, if there will be timely review

[2019-11-18 10:34] turion commented on #170
Thanks, that's already helpful! I'll review your changes the best I can.

[2019-11-18 10:34] #170 closed

[2019-11-18 12:07] turion commented on #183
I find a `class Breakword a` the best solution here. It's the same as `class Initial` then for example. PRs welcome.

[2019-11-18 14:00] phadej commented on #183
Unfortunately I'm not using `Clay` anymore, so someone else could fix this. I'm closing this issue so it's not on my open issues list.

[2019-11-18 14:00] #183 closed

[2019-11-26 17:34] dbaynard commented on #149
I do not still intend to add that — I'll close.

[2019-11-26 17:34] #149 closed

[2019-11-27 20:13] Temurson commented on #190
Hello! I would love to fix this. Currently, I have cloned the repo and managed to build the project. I got the same warnings. I will try to make a PR soon (if I figure out how to do this).

[2019-11-28 10:06] turion commented on #190
@Temurson thanks for your enthusiasm, but this issue was already fixed in #192. There are lots of other open issues, though ;)

[2019-11-28 10:06] #190 closed

[2019-11-28 10:06] turion commented on #190
If you need any help making a PR, I'll gladly assist!

[2019-12-10 03:35] Temurson opened #194 "Broken Example"
I have downloaded Clay and tried playing around with, when I found that the single example in "examples" folder is broken - it has a bunch of errors both in Main.hs and generate.sh script. The errors do not depend on the compiler or any environment, just pure programming errors. I suspect they appeared after adding new features / deprecating the old ones.

The errors:
1) generate.sh - path to sear

[2019-12-10 08:56] turion commented on #194
Good catch! I didn't pay attention to that folder. Fixes to it would be most welcome!

If you want and can, it would be great to add the example to the CI as well (possibly in a separate PR).

[2019-12-11 07:35] Temurson commented on #194
I have fixed the example, and now it compiles and works properly. I am creating a PR for this now. However, I would like to note one strange problem I ran into while doing fixing all that. When I was done, I tried to test the example, but it didn't work saying that mtl is a hidden package. It took me a while, but I figured that this was because the file .ghc/x86_64-linux-8.8.1/environments/default

[2019-12-11 10:14] turion commented on #194
This sounds unrelated to clay indeed. Because of these kinds of issues, we build everything reproducibly with [`nix`](https://nixos.org/nix/).

You needn't worry about the CI, actually. But if you can get `nix` to run, and build Clay with it, we can work on including the example in there :) I'll open a separate issue for you.

[2019-12-11 10:19] turion opened #196 "Build example with Nix"
The example was broken (#194). We should build it with Nix as well, by adding an attribute containing the compiled example to the final attribute set in `release.nix`.

@Temurson if you want, you can use this issue to learn about Nix. I'll guide you through the process. As a first step, you could have a look at https://nixos.org/nixos/nix-pills/.

[2019-12-12 00:10] Temurson opened #197 "Color Operator Precedence"
I found probably unexpected behavior of operators `+.`, `-.`, `*.` in Color.hs module. Example with steps to reproduce (starting at the project root):
[code]
Note that when doing `:info +.` in ghci, it does not show precedence, and if you check the definition, there is no precedence there too.
I suspect the problem here is that `+.`, `-.` and `*.` (the only three defined in Color.hs) have preceden

[2019-12-12 00:29] Temurson commented on #194
#195

[2019-12-12 02:05] Temurson commented on #197
I have tried adding `infixl 6 +.`, `infixl 6 -.` and `infixl 7 *.` to Color.hs, and this resolved this strange behavior. Not that these precedence values match those of regular operators. Let me know if this is something that should be resolved, and I will create a PR.

[2019-12-12 09:02] turion commented on #197
That's a good find. I agree that it would be good in principle to specify these precedences in a way that makes your example expression typecheck. But this is a big change since other projects might already depend on a different precedence.

It would be great to take a large open source project that uses Clay, and see if it still typechecks with the precedences changed. Do you have an idea?

[2019-12-12 16:57] Temurson commented on #197
Well, I haven't even used Clay myself, and I'm quite new to Haskell, so I don't know. I will try to do some research on that. If you know any projects, let me know, I would gladly check it.

[2019-12-12 21:31] turion commented on #197
I'm not a big Clay user myself yet ;) I've just written 5 lines of it so far on my website. A good starting point is this: http://packdeps.haskellers.com/reverse/clay But I can't find any that use the color operators. If you can't find any projects using the operators prominently either, it's safe to break/change. So feel free to create a PR in that case :)

[2019-12-20 13:23] #194 closed

[2019-12-20 13:24] turion commented on #197
I believe you solved this already in #195, right?

[2019-12-20 16:05] Temurson commented on #197
@turion No, I didn't. I'm still not sure if I should make this change. I tried finding projects that use Clay, but the website you gave seems to only have those from Hackage, which are mostly libraries, while any web project could possibly use Clay, and I'm not sure if there is a way to find out.

[2019-12-23 15:10] turion commented on #197
Oh, but you uploaded a commit doing this to https://github.com/sebastiaanvisser/clay/pull/195/commits, and I merged it.

I think it is fine to have this change, it just triggers a version bump. Possibly a few projects will break, but the will appear in the changelogs.

If you agree, we can close this issue for now.

[2019-12-23 17:35] Temurson commented on #197
I'm so sorry! I thought I removed this change before commiting. I do agree that this change should stay now, because I, just as you, could not find any projects using this specific behavior of color operators. Thanks!

[2019-12-23 19:37] turion commented on #197
No worries :) I'll close then.

[2019-12-23 19:37] #197 closed

[2019-12-29 21:47] iclanzan commented on #106
I believe this has been solved by https://github.com/sebastiaanvisser/clay/pull/127. One can now write:

[code]

in order to get a string suitable for inline styles.

[2020-01-08 20:11] srid opened #198 "0.13.3 release tag missing"
Could this git tag be created please?

[2020-01-10 17:53] turion commented on #198
Good point. Done.

[2020-01-10 17:53] #198 closed

[2020-01-10 17:55] turion commented on #106
@iclanzan Agree.

[2020-01-10 17:55] #106 closed

[2020-02-14 15:57] turion opened #199 "Use github actions to mark stale issues and PRs"
@sebastiaanvisser I'd like to set up github actions to automatically mark (and eventually close) stale issues and PRs. It seems like I can't do that because I don't have sufficient rights to do that. Can you change that? (If you want this change at all.)

[2020-02-15 10:54] ad-si commented on #148
Still relevant!

[2020-02-16 14:36] turion commented on #199
It seems like this already works without any additional rights :)

[2020-02-16 14:36] #199 closed

[2020-02-26 21:40] JonathanReeve commented on #137
Any progress on this? This would be really nice to have.

[2020-02-26 22:27] turion commented on #137
@JonathanReeve If someone creates a PR I'll review and merge.

@dbaynard are you still interested?

[2020-03-14 00:14] #178 closed

[2020-03-14 00:14] #177 closed

[2020-03-14 00:14] #168 closed

[2020-03-14 00:14] #175 closed

[2020-03-14 16:52] turion commented on #176
@BebeSparkelSparkel are you interested in this issue and would like to contribute?

[2020-03-15 00:14] #156 closed

[2020-03-15 00:14] #154 closed

[2020-03-15 00:14] #155 closed

[2020-03-15 00:14] #153 closed

[2020-03-15 00:14] #128 closed

[2020-03-15 00:14] #147 closed

[2020-03-15 18:07] BebeSparkelSparkel commented on #176
@turion Sorry haven't looked at this for a while. I have switched to Shakespeare Lucius for now.
I do like how clay has much better type support and will come back when I have finished the biparsing package I am working on now.

Also, I see that clay has new maintainers, have you been refactoring/updating the core?

[2020-03-16 00:14] #109 closed

[2020-03-16 00:14] #79 closed

[2020-03-16 00:14] #68 closed

[2020-03-16 00:14] #70 closed

[2020-03-16 00:14] #53 closed

[2020-03-16 00:14] #62 closed

[2020-03-16 07:35] turion commented on #176
@BebeSparkelSparkel Yes, I'm the new maintainer currently. (More would be welcome.) I haven't done any refactoring, and no plans to do that, since I'm no `clay` nor CSS expert. I currently only do the communication, PR reviews, keeping CI alive, and so on.

[2020-03-16 07:37] turion commented on #176
Glad to hear you want to come back to `clay` :) Feel free to reopen this issue and work on it. Also, if you have bigger refactoring plans, I'll review them and work on them with you.

[2020-03-16 11:55] jameshfisher commented on #62
Late reply here - sorry, I no longer use clay, and don't have time to maintain it! Closing this issue is sensible

[2020-03-17 00:14] #44 closed

[2020-03-17 00:14] #46 closed

[2020-03-17 00:14] #40 closed

[2020-03-17 00:14] #41 closed

[2020-03-17 00:14] #42 closed

[2020-03-17 00:14] #39 closed

[2020-03-18 00:14] #37 closed

[2020-03-18 00:14] #34 closed

[2020-03-18 00:14] #36 closed

[2020-03-18 00:14] #32 closed

[2020-03-18 00:14] #33 closed

[2020-03-18 00:14] #29 closed

[2020-03-19 00:10] #28 closed

[2020-03-19 00:10] #24 closed

[2020-03-30 06:08] 573 commented on #184
I am trying to disable tests in clay as well as it breaks my build on WSL, see [here for a tracking issue](https://github.com/srid/neuron/issues/31), but IDK how to do it correctly. Right now I have a file ~/.config/nixpkgs/program/neuron/default.nix which somewhere in my home.nix is imported as `home.packages = with pkgs; [ (import ../program/neuron {}) ];`:

[code]

but doesn't seem to affect my

[2020-03-30 07:36] turion commented on #184
@573 this issue is fixed since quite some time. If you update your `nixpkgs`, you won't need a workaround, I think.

[2020-03-30 15:26] srid commented on #184
This is the problem. Don't use `callPackage`. Use `import` instead, so that neuron and rib will uses [whatever version of clay](https://github.com/srid/rib/blob/79f05ab/default.nix#L31-L32) they have pinned.

[2020-03-30 22:18] 414owen opened #202 "Prefix the `sticky` `position` value"
Apple browsers support sticky positions iff prefixed with `-webkit-` ([source](https://caniuse.com/#feat=css-sticky)).
I'm happy to create a PR for this, but I want to check one thing first -- because `-webkit-` is the only prefix, is it okay if I bypass the `browsers` `Prefixed`?

[2020-03-31 06:45] turion commented on #184
@573 Also, your issue is certainly not the issue here, since you're using the unreleased version 0.14.

(Weirdly, the test suite passed on CI: https://travis-ci.org/github/sebastiaanvisser/clay/jobs/648076565#L660)

[2020-03-31 08:21] turion commented on #202
You're welcome to create a PR!

I'm not sure yet how your solution will work exactly, but we'll get there in your PR. Try it the way you proposed, and we'll find out.

Background: It seems that this is actually a workaround for Safari, since all other major browsers support simply `sticky`.

[2020-04-01 15:24] srid commented on #184
@turion It looks like clay tests fail only on Windows Subsystem for Linux, which is what @573 is using to install neuron which uses rib that has [clay 0.14 pinned](https://github.com/srid/rib/blob/bd743fa/default.nix#L31-L32).

[2020-04-02 13:51] turion commented on #184
@srid, thanks! That's why I can't reproduce these issues. I guess I'm not going support WSL in `clay` for the time being.

[2020-04-09 08:18] #202 closed

[2020-05-29 18:37] JosephLucas commented on #176
Grid is a killer css feature. I would love to see it in Clay.

[2020-05-29 18:41] turion commented on #176
@JosephLucas Ok, reopening due to reasonably popular request ;) do you have any good hints how to implement, or want to contribute a pull request?

[2020-05-29 18:43] JosephLucas commented on #176
Currently I plan to use the "-:" ultra generic Clay operator. I don't even know if it's gonna work.

[2020-05-29 20:20] JosephLucas commented on #176
[code]
does the job.

I think will stick with it :smile: even though I'm sure that's not the way we are supposed to write clay expressions :confused:

[2020-06-01 11:46] turion opened #204 "Fix CI"
Recently CI broke: https://travis-ci.org/github/sebastiaanvisser/clay/jobs/693190286

The error seems to be in Travis Nix support. Locally, everything runs fine. Maybe their Nix version is outdated (2.0.4 vs 2.3.3).

[2020-06-01 12:07] turion commented on #204
#205 is a workaround. But probably this is an issue in the Nix support in Travis (https://travis-ci.community/c/languages/nix). I posted a topic in the support forum, but it got flagged as spam.

[2020-06-01 12:07] turion commented on #204
This is what I posted: https://travis-ci.community/t/unknown-hash-algorithm/8836/1

[2020-06-05 14:11] vrom911 opened #206 "(#) plus (^=) has wrong behaviour"
I have the following code:

[code]

And it results in
[code]

which doesn't work. The correct rendered one should be
[code]

I am using `clay-0.13.3`.

Let me know if there is a better way to do what I am trying to achieve as I am not very familiar with the library. But, meanwhile, I am not sure how to fix this behaviour :thinking:

Thanks a lot for the library, btw :+1:

[2020-06-05 15:59] turion commented on #206
Thanks for spotting this! I'm surprised this is a CSS problem, but my knowledge of CSS is not very great.

The operator `#` is defined here: https://github.com/sebastiaanvisser/clay/blob/master/src/Clay/Selector.hs#L67

Do you want to work on fixing this? I can help you along the way. The first step would be to go to look at the test suite, which is here: https://github.com/sebastiaanvisser/clay/t

[2020-06-09 08:57] turion commented on #206
@vrom911 I'm not so sure anymore this is actually a bug. The examples here show no spaces: https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors

Can you describe more precisely (maybe with a screen shot of a website) how the rendering is incorrect when the space isn't there?

[2020-06-11 09:16] polux opened #208 "Render to key/value pairs"
It would be great if in addition to rendering to text, clay could also "render" to something more structured. That way it could be used as a DSL for inline CSS in combination with libraries like miso for instance.

[2020-06-12 08:15] turion commented on #208
That's a cool idea. What data structure would you propose clay should render to?

[2020-06-12 10:59] polux commented on #208
In my particular case I'm interested in getting a `Map String String` that I can pass to miso's style attribute. But to make it generic enough that it's usable with other libs, I'd say any json-like structure that represents the AST of the CSS. Does that make sense?

[2020-06-14 09:34] vrom911 commented on #206
@turion none of the example in the link you provided are with class. I can confirm that when it is not class it is working. However, you can check the following HTML file:

[code]

It is rendered like this:

![image](https://user-images.githubusercontent.com/8126674/84589956-5835c600-ae2a-11ea-9ef7-d1f83e722589.png)

So the specified CSS didn't work.

However, if I change just one space:

[code]

[2020-06-14 15:11] turion commented on #206
## TL;DR

@vrom911 aaahh, thank you, that's helpful. I think the issue here is that `(#)` is _refinement_ or filter (see https://hackage.haskell.org/package/clay-0.13.3/docs/Clay.html#v:-35- , and not the descendant selector (see https://www.w3schools.com/css/css_combinators.asp). In clay, the descendant operator is `(**)` (see https://hackage.haskell.org/package/clay-0.13.3/docs/Clay.html#v:-42--

[2020-06-14 15:17] turion commented on #208
Yep, that makes a lot of sense. You mean https://hackage.haskell.org/package/miso-0.21.2.0/docs/Miso-Html.html#v:style_, right?

Clay itself basically collects a list of `Rule`s (see http://hackage.haskell.org/package/clay-0.13.1/docs/Clay-Stylesheet.html#t:Rule). If you can write a function `Rule -> Map String String`, then you're halfway done.

I'm not sure this should be part of the `clay` pack

[2020-06-14 15:18] turion commented on #208
That can be a long-term goal, but let's first solve the immediate problem and connect clay to miso. The next step can be refactoring and connecting to other frameworks.

[2020-06-14 15:42] vrom911 commented on #206
Thanks a lot for taking your time investigating the issue! This is really helpful, and I appreciate that :1st_place_medal:

The steps you suggest to do are reasonable, I will try to apply that in my project :slightly_smiling_face:

What about proceeding with the issue, I guess it is okay to close this one. At least if anybody would experience the same problem they would be able to find your brilli

[2020-06-15 06:50] JosephLucas commented on #176
The corresponding CSS code is
[code]

According to [the syntax of grid](https://css-tricks.com/snippets/css/complete-guide-grid/), this CSS code creates a layout template with 4 rows and 2 columns. The first area of the template is named "header" (it's an _area_ of the grid), it spans the first row and the two columns. "navbar" is the second row area. The "sidebar" area spans the cell of the grid

[2020-06-15 09:45] polux commented on #208
Yes!

Exactly, I had looked for that in the code of clay but it seems that such an intermediate map doesn't exist: the list of rules is converted to a Builder immediately.

That would be definitely simpler at first. But don't you think a function of type `Rule -> Map String String` would make sense in the clay package itself? Another thing I wasn't sure about is that I suppose that some rules don'

[2020-06-15 10:34] turion commented on #176
Ok, that makes sense. It would be a great addition to have a datatype corresponding to grid specifications and a module containing it with some useful operators. PRs welcome.

[2020-06-15 10:41] turion commented on #208
No, this map doesn't exist yet, someone needs to implement it. Maybe you? :D

It would make more sense if the resulting map is used in some way, but I can't see how the map is sufficient information to recover the whole well-readable rendering that clay produces. clay outputs human-readable CSS, but such a map is too much of a machine format, I think.

But let's start with a small step first, and

[2020-06-15 13:33] polux commented on #208
Actually I don't think we can do without it: other than `Property` I'm not sure how to translate other constructors of `Rule` into entries of a `Map String String`.

[2020-06-15 13:48] polux commented on #208
Actually, the low-level constructors for attributes are public in Miso, so I guess I could define my own style attribute that takes a `Text` rendered by clay. It is probably way simpler than re-factoring clay's rendering to output a map.

[2020-06-16 12:40] polux commented on #208
My bad, haddock makes it look like the low-level constructors are exposed but they aren't.

[2020-06-16 15:47] turion commented on #206
@vrom911 you're welcome :) feel free to start a new MR, yes. And also feel free to include the other unrelated improvements you introduced in #207!

[2020-06-16 22:38] 414owen opened #209 "Incorrect multiple-background prefixing behaviour"
if you give `backgroundImages`, or `background` a list of prefixed values, such as `radialGradients`, only the first element will end up prefixed

eg.

[code]

the effect of which is that, if your browser uses a prefix, none of these will render.

[2020-06-17 09:05] turion commented on #209
Can you give a Clay expression that renders to the wrong result, and the result you would expect?

[2020-06-17 10:15] 414owen commented on #209
Sure thing:

### Code

[code]

### Result

[code]

### Expected

[code]

### Differences

* Each line should contain two gradients with the same prefix, whereas currently only the first gradient is prefixed
* The non-prefixed line should probably be rendered last

[2020-06-17 18:23] typedrat commented on #25
Not OP, but I think this issue's approach is right and #185/#186 are wrong. Part of good DSL design should be about representing the _meaning_ of the output and not just transcribing it into a different syntax.

It's a contrived example, but imagine you have something like this:

[code]

Printing the simpler syntax of just the refinement rather than the selector first allows `star` to just get add

[2020-06-20 19:08] turion commented on #25
Ah, this would have helped in #206 as well, right?

[2020-06-20 19:13] turion commented on #25
In fact I believe that `star # refinement` already does not print the redundant `*`. If this is true I'll happily accept a PR adding a function like `refinementSel` with a unit test case.

[2020-07-14 07:08] turion commented on #176
Reopening because it's a popular requested feature.

[2020-07-28 00:33] #26 closed

[2020-07-30 02:09] BebeSparkelSparkel opened #211 "margin needs a redesign"
Currently, `margin :: Size a -> Size a -> Size a -> Size a -> Css` accepts 4 arguments.
This makes it impossible to have `margin: auto`.

margin would be better if it accepted one argument.

[code]

[2020-08-01 11:37] turion commented on #211
How about simply adding a function `marginAuto :: Css`?

Or an algebraic datatype that works with the `Val` typeclass, like e.g. `Color`? See http://hackage.haskell.org/package/clay-0.13.1/docs/Clay-Color.html#t:Color

[2020-08-02 19:23] BebeSparkelSparkel commented on #211
ADT sounds better. Allows a lot more functionality.

[2020-08-12 07:52] turion commented on #176
Hmmm I've configured the bot poorly. The issue should stay open.

[2020-10-21 10:55] MurakamiKennzo commented on #13
Anything else? Currently It's type also the wrong order.

[2020-10-21 15:04] turion commented on #13
Yes, it seems like the issue was never actually fixed. Thanks for spotting. PRs welcome to fix!

[2020-10-22 09:27] #13 closed

[2021-03-03 00:46] #31 closed

[2021-03-26 14:19] bsima commented on #208
@polux FWIW Here is a hacky way to integration Miso and Clay that I came up with a while back, it worked well enough for a medium-sized project with lots of client-side stuff:

[code]

[2021-03-31 14:56] rubenmoor commented on #184
Clay is still marked broken in the version 0.13.1, as available on nixos 20.09.

[2021-04-05 15:48] #196 closed

[2021-04-07 19:23] #148 closed

[2021-04-20 20:45] RamiroPastor commented on #163
Maybe in the future, when i learn what is a regression test

[2021-04-21 12:37] bsima commented on #163
It's a test that guards against this problem happening in the future,
i.e. it prevents a "regression".

[2021-04-21 13:23] turion commented on #163
You could, for example, fix the issue and add exactly your example as a test. That would already be sufficient.

[2021-04-26 14:27] ddssff commented on #185
It is something that puzzled me for a while when I first started using clay the day before yesterday.

[2021-04-26 18:28] turion commented on #185
@ddssff feel free to pick up #186 if you want :)

[2021-04-28 15:49] ddssff opened #216 "Feature: Generate map files from the css renderer"
It looks to me like it would be possible to use the sourcemap package (https://hackage.haskell.org/package/sourcemap) and the mechanisms in GHC.Stack to generate a map file that would point you to lines in the Clay Haskell source from the browser's developer console.  I hope to take a stab at this in the near future, but welcome any input or assistance.

[2021-04-28 22:04] bsima commented on #216
Wow, sounds like a great idea! Lemme know if you need help...

[2021-04-29 07:30] turion commented on #216
That would be very useful! PRs welcome.

[2021-04-30 01:54] ddssff commented on #216
I've pushed the first step to https://github.com/seereason/clay, a patch that adds a state monad to the Css type to hold the `SourceMappings`.   It doesn't yet add any mappings.

[2021-04-30 15:18] ddssff commented on #216
Can anyone explain why travis-ci is failing?  https://github.com/seereason/clay/runs/2472160906

[2021-04-30 15:21] turion commented on #216
You could cherry pick the commit `ci: update ghc versions to match pinned nixpkgs` from https://github.com/sebastiaanvisser/clay/pull/215/commits, or wait a bit until I've reviewed and merged that, and rebase onto the newest master.

[2021-04-30 15:23] #163 closed

[2021-04-30 17:00] ddssff commented on #216
I'm stuck on ghc-8.6.5 and ghcjs-8.6.0.1 for now.   Just FYI.   But of course travis can run what it likes.

[2021-04-30 23:54] ddssff commented on #216
Next step: need to track the position in the generated file (the Builders.)   Each mapping is a name  and position in the original file (which will come from the `CallStack`,) and a position in the generated file.   Sadly I don't know about Builders.

[2021-05-01 11:01] turion commented on #216
You could open a pull request, and I'll advise. Maybe @bsima can help as well.

[2021-05-04 15:50] dbaynard commented on #137
Hello, please forgive my delay. I was keen in 2017; I'm now not sure I'll be using clay, in future. It looks like I should respond on #173, first; if that is a positive experience all round, I'll put together a plan, at least, for this feature.

[2021-06-01 02:49] #188 closed

[2021-06-12 19:58] ddssff commented on #216
My biggest challenge right now is how to reliably collect all the Css values in my program so they can be rendered and turned into something that can be served to the browser.

[2021-06-15 15:51] turion commented on #216
Do you have some example to illustrate what you mean?

[2021-06-16 13:36] ddssff commented on #216
My question is, what is the best way to ensure that all the Css values for all the subsystems of my app (search, drag, tables, layout, many others) all get rendered, written into files, and installed so the server can see them and serve them to the client.   Maintaining a list of them in the server main is error prone.

To make sure the client and server agree on class names, I use a class `CssCla

[2021-06-18 00:04] ddssff commented on #216
One possibility is to have a class `CssStyle(cssStyle)` and collect all instances using the template haskell `reifyInstances` function.  But then you have to make sure you have imported all modules with instance when you call it.

[2021-06-18 14:43] ddssff opened #218 "translateX and translateY should accept Size Percentage as well as Size LengthUnit argument"
Currently I have to say
[code]
On the other hand, `transform $ translate (pct (- 50)) (pct (- 50))` works and is what you actually want, the two transforms above interfere with each other.

[2021-07-06 00:59] #185 closed

[2021-07-06 02:08] ddssff commented on #185
Ok, I just need a little more experience.

[2021-07-07 06:51] turion commented on #204
Seems fixed. Also, currently the `nix` version is 2.3.3 already.

[2021-07-07 06:51] #204 closed

[2021-07-14 00:54] #137 closed

[2021-07-16 23:34] ddssff opened #220 "Type safe class names?"
One big win from using Haskell to generate CSS is that you can use typed values to ensure that the class names you use in your HTML correspond with the ones you use in your CSS.   We have implemented this in a somewhat ad-hoc way, I wonder if there is a case for adding type safe class names (and maybe other things like animation names) to Clay?

[2021-07-17 08:47] turion commented on #220
What exactly do you mean by type safe class names? What error would you like to rule out? Maybe you have an example?

[2021-07-17 12:03] ddssff commented on #220
For example, we have a `CssClass` class with a `cssClass` method that converts instances to class names.  The code for an open/close button looks like this:

[code]

`byClass`' is a version of `byClass` that takes a `CssClass` instead of a string.  When we used strings instead of calling cssClass the names in the client code would get out of sync with those in the server code, or disappear altoget

[2021-07-17 12:18] ddssff commented on #220
Never mind, I'm going to use `Data.Digest.Pure.MD5 . encode`.

[2021-07-17 13:17] ddssff commented on #220
Oops I commented and closed this thinking it was another issue for another package.

[2021-07-17 17:12] turion commented on #220
I can't quite follow. What's `CssStyle`? What exactly is your proposal here?

[2021-07-17 18:27] ddssff commented on #220
I don't have a concrete proposal yet, just a question about how to guarantee that the class names in your HTML match the ones in your CSS.   It may be that my web development tools are sufficiently different from those of other people that they don't have this issue.

`CssStyle` is just a trick to scan all the instances for to collect and render all the Css values using template haskell.

[2021-07-23 19:00] ddssff commented on #206
Seems important though.

[2021-07-25 15:45] ddssff commented on #209
I'm not sure why we want github-actions closing issues like this.

[2021-07-26 09:27] turion commented on #209
@ddssff Yes, I'm also unsure whether this is the best practice right now. For some time, it was, since there were many low-quality non-actionable issues that needed further information or closing, and since noone provided further information they were closed. This way, only those issues that are important to someone are kept open.

The background is that there are currently no main contributors to

[2021-07-26 18:33] ddssff commented on #209
Thanks for doing this work for clay, let me know if you need any help.

[2021-07-27 10:43] turion commented on #209
Thanks :) fixing open issues is always a great help. I'll gladly review every PR.

Meta: If you have any comment in how I can make the PR process more encouraging and engaging, while keeping the same code quality, that's also very helpful.

[2021-10-02 00:59] #206 closed

[2021-10-04 01:05] #25 closed

[2021-10-06 01:01] #209 closed

[2022-01-07 14:20] ddssff commented on #220
Update:  I'm now using symbol names for css class names, via the template haskell quote mechanism:

    import Language.Haskell.TH.Syntax (Name(..), ModName(..), NameFlavour(..), NameSpace(..), OccName(..))

    instance CssClass Name where
      cssClass (Name (OccName o) (NameG space _ (ModName m))) =
        protectCSSIdentifier (pack (m <> "-" <> o <>
                                   case sp

[2022-02-10 13:00] nsaunders opened #223 "Border module includes invalid outline properties"
[MDN's `border-style`](https://developer.mozilla.org/en-US/docs/Web/CSS/border-style#constituent_properties) documentation, as an example, shows "constituent properties" that allow a unique border to be applied to each side of an element. However, this does not seem to be the case for outlines: Notice, for example, how [`outline-style`](https://developer.mozilla.org/en-US/docs/Web/CSS/outline-styl

[2022-02-15 15:49] nsaunders commented on #223
@turion that is correct. These are the only outline functions that produce valid CSS:

* `outline`
* `outlineColor`
* `outlineStyle`
* `outlineWidth`
* `outlineOffset`

So these should be removed:

* `outlineTop`
* `outlineRight`
* `outlineBottom`
* `outlineLeft`
* `outlineColor4`
* `outlineTopColor`
* `outlineRightColor`
* `outlineBottomColor`
* `outlineLeftColor`
* `outlineStyle4`
* `outlineTopS

[2022-03-02 12:42] nsaunders opened #224 "`Visibility` instances"
See https://github.com/sebastiaanvisser/clay/blob/master/src/Clay/Display.hs#L189

* `Visibility` _should not_ have an `Auto` instance because `auto` is not a valid value for the `visibility` property
  * [MDN Web Docs: visibility](https://developer.mozilla.org/en-US/docs/Web/CSS/visibility#syntax)
  * <img width="177" alt="image" src="https://user-images.githubusercontent.com/2517229/156363325-50

[2022-03-02 12:47] nsaunders opened #225 "`separate` function (related to `visibility`) should be removed"
The `separate` function declared [here](https://github.com/sebastiaanvisser/clay/blob/master/src/Clay/Display.hs#L191) should be removed.

<img width="186" alt="image" src="https://user-images.githubusercontent.com/2517229/156364130-4f1e3c96-0562-4d8a-b500-cf25435bd5fd.png">

[2022-03-02 13:08] ddssff commented on #225
Added here: https://github.com/sebastiaanvisser/clay/commit/4221200c53599f81d8f86c99f3b7c5c9fe4556f3

[2022-03-02 14:00] turion commented on #224
Makes sense, PR welcome :)

[2022-03-02 14:04] turion commented on #225
Ah, so it seems the type signature `borderCollapse :: Visibility -> Css` is actually wrong? There is a comment here https://github.com/sebastiaanvisser/clay/commit/4221200c53599f81d8f86c99f3b7c5c9fe4556f3#diff-a82ec625bccfadbae37e6579b4a63ecadcd99a3090a43478674483df463b4a24R160-R170 describing a cleaner but lengthier alternative. I'd prefer that alternative as well, but it will trigger a major ver

[2022-03-02 14:38] nsaunders commented on #225
Good find @turion. As you know, naming conflicts have been resolved with ["namespacing"](https://github.com/sebastiaanvisser/clay/blob/master/src/Clay/Display.hs#L150-L152) before, so that would certainly be an option. On the other hand, could this be resolved with, say, a `Collapse` type class (similar to [global keywords](https://github.com/sebastiaanvisser/clay/blob/master/src/Clay/Common.hs#L1

[2022-03-03 20:04] nsaunders opened #228 "`calc` prefixes break complex values"
It looks like browser prefixes aren't properly applied to complex values that include `calc` expressions.

Considering [current widespread support](https://caniuse.com/calc), are the prefixes still needed anyway?

### Given:
[code]

### Expected:
[code]

### Actual:
[code]

[2022-03-04 14:37] #224 closed

[2022-03-04 15:11] turion commented on #228
Yes, I think it would be ok to remove them.

It's still interesting to understand how this error comes across: The trouble is in the `Semigroup` instance of `Value`, which boils down to:

https://github.com/sebastiaanvisser/clay/blob/16f55a5c6ab7fd98e39cedf852bd3400a02ac45f/src/Clay/Property.hs#L27

When you do `<>` on values, and one of them has prefixes like the browsers, the prefixes will move

[2022-03-16 00:15] maralorn opened #229 "hspec and hspec-discover bounds can be loosened"
Tests work with hspec 2.8 for me.

[2022-03-16 09:51] turion commented on #229
I guess you noticed in the context of https://github.com/NixOS/nixpkgs/pull/160733. I'll bump and release shortly.

[2022-03-16 09:55] turion opened #230 "Move CI from Travis to Github Actions"
Travis seems more and more closed for open source projects. It's better to get rid of the hassle and move to Github Actions.

[2022-03-16 10:03] turion commented on #230
It would be nice to test the Nix build as well though.

[2022-03-16 15:10] turion commented on #229
Ok, done in 0.14.0. And thank you for keeping version bounds up to date :)

[2022-03-16 15:10] #229 closed

[2022-04-09 16:38] nsaunders opened #237 "`matrix` function renders `matrix3d` in CSS output"
https://github.com/sebastiaanvisser/clay/blob/16f55a5c6ab7fd98e39cedf852bd3400a02ac45f/src/Clay/Transform.hs#L161

[2022-04-23 15:04] turion commented on #237
Sounds like a typo.

[2022-04-23 15:10] #237 closed

[2022-06-02 18:54] Skyfold opened #239 "not selector cannot be applied to a refinement"
The not selector can be applied to a selector `:not(p)` or to a refinement `input:not(:checked)`, however the type signature for not is `not :: Selector -> Refinement`.

What I need is effectively `not :: Either Selector Refinement -> Refinement`, though it would not be nice to write `input # not (Left checked)`. Ideally, I would like to write `not p` and `input # not checked`.

How would you like

[2022-06-04 09:30] turion commented on #239
Thanks for pointing this out!

The typical `clay` style for this is to create a new type class:

[code]

So rather an open sum than a closed sum.

[2022-06-04 09:31] turion commented on #239
Feel free to send a PR if you want :)

[2022-06-14 16:48] joshua-obritsch opened #241 "Ambiguous type variable"
Calling the following code in the repl:

[code]

Results in the following error message:

[code]

If I annotate the type as suggested like this: `background (inherit :: Color)`, then I get the expected output.

I'm wondering if there is a language extension that would help Haskell infer a/any type or a way of defaulting so that these explicit type annotations would become unnecessary.

[2022-06-17 15:02] ddssff opened #242 "When building with GHCJS, test cases fail but results look ok"
Because GHCJS has different word sizes, the equality tests that work in GHC fail.  For example,
[code]
The tests must be using equality when "close enough" is what we need.

[2022-06-19 17:26] ddssff commented on #241
Haskell generally avoids this type of disambiguation, which in my opinion is a good thing.    Compilers need to stay out of the business of resolving ambiguity.  I just specify the type as you have here.

[2022-06-25 10:57] turion commented on #241
Yes. Although the error message is quite verbose you can interpret it as "The code could potentially do different things depending on what the type is." So giving it the exact type is the right way to go. I'll close, please reopen if you have further questions :)

[2022-06-25 10:57] #241 closed

[2022-06-25 11:01] turion commented on #242
That's a puzzling error message :sweat_smile: . So we'd first need a working CI check that runs clay on GHCJS, and then fix the tests. PRs welcome.

[2022-06-26 00:41] ddssff commented on #242
What is the situtation with CI these days?  I lost track when travis disappeared.

[2022-06-26 11:05] turion commented on #242
We have Github Actions with Ubuntu & cabal: https://github.com/sebastiaanvisser/clay/blob/master/.github/workflows/ci.yml But I have no idea whether one can GHCJS there. Maybe we should also reinstate the nix CI job.